.navbar {
  position: relative;
  margin: 0;
  width: 100%;
  padding: 10px;
  height: 100px;
  z-index: 999999999999999;
  background-color: transparent;
  transition: 0.5s;
  .container {
    .menu-icon {
      display: none;
    }
    .logo {
      padding: 0;
      margin: 0;
    }
    .menu {
      > ul {
        margin: 0;
        padding: 0 20px;
        list-style: none;
        li {
          padding: 20px;
          cursor: pointer;
          position: relative;
          height: 100%;
          z-index: 1;
          &:hover {
            & ul.sub-menu {
              opacity: 1;
              visibility: visible;
              transform: translateY(0);
            }
          }
          ul {
            z-index: 0;
            top: 100%;
            left: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            width: 200px;
            height: auto;
            list-style: none;
            overflow: hidden;
            position: absolute;
            visibility: hidden;
            background: $main-color-light;
            border-radius: 5px;
            transition: 0.3s all;
            transform: translateY(-40px);
            box-shadow: $main-box-shadow;
            li {
              margin: 0;
              padding: 8px 20px;
              border-bottom: 1px solid $main-bg-color-light;
              position: relative;
              transition: 0.3s;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                width: 0;
                top: 0;
                bottom: 0;
                background-color: $main-bg-color-dark;
                transition: 0.3s;
              }
              &:hover {
                background: $main-bg-color-light;
                padding-left: 25px;
                &::before {
                  width: 3px;
                }
              }
              a {
                text-transform: capitalize;
                font-size: 13px;
                font-weight: 300;
                color: $main-color-dark;
                letter-spacing: 1px;
                font-family: $main-font-family;
              }
            }
          }
          i {
            margin-left: 5px;
            font-size: 8px;
            color: $main-color-dark;
            display: inline-block;
            height: 100%;
            width: 100%;
          }
          a {
            text-transform: capitalize;
            display: inline-block;
            height: 100%;
            width: 100%;
            text-decoration: none;
            font-family: $main-font-family;
            color: $secondary-color-dark;
            @include primary-font($font-size: 14px, $font-weight: 600);
          }
        }
      }
    }
    .login {
      padding: 0;
      > ul {
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        li {
          cursor: pointer;
          a {
            text-transform: capitalize;
            &.sign-out {
              text-decoration: none;
              padding: 0 15px;
              font-family: $main-font-family;
              color: red;
              @include primary-font($font-size: 11px, $font-weight: 600);
            }
            &.sign-up {
              @extend %primary-btn;
              color: $main-color-light;
              background-color: $main-bg-color-dark;
              &:hover {
                color: $main-bg-color-dark;
                background-color: $main-color-light;
              }
            }
            &.sign-in {
              @extend %primary-btn;
              color: $main-bg-color-dark;
              background-color: $main-color-light;
              &:hover {
                color: $main-color-light;
                background-color: $main-bg-color-dark;
              }
            }
          }
          span {
            padding: 0 15px;
            font-family: $main-font-family;
            color: $main-bg-color-dark;
            @include primary-font($font-weight: 600);
          }
          .profile-image-top-right {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 0;
            margin: 0;
          }
          &.nav-item-last {
            position: relative;
            &::after {
              content: attr(data-id);
              position: absolute;
              text-align: center;
              align-items: center;
              width: 20px;
              height: 20px;
              right: 0px;
              top: -8px;
              border-radius: 100%;
              background-color: red;
              color: white;
              font-size: 14px;
            }
            .my-cart-list {
              padding-top: 30px;
              padding-left: 0;
              transition: 0.5s;
              z-index: 1;
              right: 0;
              top: 100%;
              display: none;
              width: 300px;
              height: auto;
              max-height: 100vh;
              overflow-y: auto;
              position: absolute;
              li {
                border-radius: 5px;
                background-color: $main-color-light;
                border: 1px solid $main-bg-color-light;
                padding: 10px;
                width: 100%;
                list-style: none;
                position: relative;
                transition: 0.5s;
                .x-close {
                  font-size: 16px;
                  position: absolute;
                  padding: 10px;
                  right: 0;
                  top: 0;
                  color: red;
                  cursor: pointer;
                }
                h2 {
                  @include primary-font($font-weight: 600);
                  padding-left: 20px;
                  cursor: pointer;
                  color: $main-bg-color-dark;
                }
                h4 {
                  @include primary-font($font-weight: 600);
                  padding-left: 20px;
                  cursor: pointer;
                  color: $main-bg-color-dark;
                }
                h6 {
                  @include primary-font($font-size: 14px);
                  padding: 5px 20px;
                  cursor: pointer;
                  color: $main-color-dark;
                }
                &:hover {
                  background-color: $main-bg-color-dark;
                  h2 {
                    color: $main-color-light;
                  }
                  h4 {
                    color: $main-color-light;
                  }
                  h6 {
                    color: $main-bg-color-light;
                  }
                  .x-close {
                    color: $main-bg-color-light;
                  }
                }
              }
            }
            &:hover {
              .my-cart-list {
                display: block;
              }
            }
            .basket-icon {
              font-size: 20px;
            }
          }
        }
      }
    }
    .menu-icon {
      cursor: pointer;
      padding: 0;
      margin: 0;
      span {
        display: block;
        line-height: 10px;
        font-weight: 900;
        color: $main-color-dark;
      }
    }
    position: relative;
  }
}
.menu-responsive {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 100px;
  // transition: 0.3s all;
  // opacity: 0;
  // transform: translateY(-100%);
  background: $main-color-light;
  z-index: 999999999;
  .container {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        padding: 15px;
        border-bottom: 1px solid $main-bg-color-light;
        width: 100%;
        cursor: pointer;
        &:hover {
          background: $main-bg-color-light;
        }
        a {
          text-transform: capitalize;
          text-decoration: none;
          font-family: $main-font-family;
          color: $main-color-dark;
          @include primary-font(
            $font-size: 14px,
            $font-weight: 600,
            $l-spacing: 2px
          );
        }
        i {
          margin-left: 5px;
          font-size: 8px;
          color: $main-color-dark;
          padding-right: 25px;
        }
      }
      .sub-menu {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        width: 100%;
        overflow: hidden;
        background: $main-color-light;
        transition: 0.3s all;
        li {
          margin: 0;
          border-bottom: 1px solid $main-bg-color-light;
          padding: 8px 20px;
          transition: 0.3s;
          &:hover {
            background: $main-bg-color-light;
          }
          a {
            text-transform: capitalize;
            text-decoration: none;
            @include primary-font($font-size: 13px, $font-weight: 300);
            color: $main-color-dark;
            font-family: $main-font-family;
          }
        }
      }
    }
    .login {
      padding: 0;
      > ul {
        background-color: $main-bg-color-light;
        list-style: none;
        margin-bottom: 0;
        padding: 0;
        margin: 0;
        li {
          cursor: pointer;
          a {
            text-transform: capitalize;
            &.sign-out {
              text-decoration: none;
              padding: 0 15px;
              font-family: $main-font-family;
              color: red;
              @include primary-font($font-size: 11px, $font-weight: 600);
            }
            &.sign-up {
              @extend %primary-btn;
              color: $main-color-light;
              background-color: $main-bg-color-dark;
              &:hover {
                color: $main-bg-color-dark;
                background-color: $main-color-light;
              }
            }
            &.sign-in {
              @extend %primary-btn;
              color: $main-bg-color-dark;
              background-color: $main-color-light;
              &:hover {
                color: $main-color-light;
                background-color: $main-bg-color-dark;
              }
            }
          }
          span {
            padding: 0 15px;
            font-family: $main-font-family;
            color: $main-bg-color-dark;
            @include primary-font($font-weight: 600);
          }
          .profile-image-top-right {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            padding: 0;
            margin: 0;
          }
          &.nav-item-last {
            position: relative;
            &::after {
              content: attr(data-id);
              position: absolute;
              align-items: center;
              text-align: center;
              width: 20px;
              height: 20px;
              right: 7px;
              top: 7px;
              border-radius: 100%;
              background-color: red;
              color: white;
              font-size: 14px;
            }
            .my-cart-list {
              display: none;
            }
            .basket-icon {
              font-size: 20px;
              padding: 0;
            }
          }
        }
      }
    }
  }
}
.active-scroll {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}
#loading-effect {
  background-color: $main-bg-color-dark;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: 99999999999999999999;
  display: none;
  span {
    width: 100px;
    height: 100px;
    background-color: $main-bg-color-light;
    color: $main-color-light;
    position: absolute;
    top: calc(50% - 50px);
    left:calc(50% - 50px);
	transition: 2s;
	border-radius: 5px;
  }
}
